
  <h2>Gang Details</h2>
  <p> Faction: {{gang.faction}}</p>


  
  
  <div class = "classheader">Leader:</div>
  <ul class = "equipmentlist">
    <li *ngFor="let character of gang.leaders">
        <span class = "charname"> <img class = "factionicon" src = "{{character.factionIcon}}" > {{character.name}}:</span><span class = "costlabel"> Cost: {{character.ducats}} 
      <button class="delete" title="Delete Character"
      (click)="delete(character)"><img class = "deletechar" src = "../../assets/images/buttons/Close Window.png"> </button> </span>
    </li>
  </ul>

  <div class = "classheader">Heroes:</div>
  <ul class = "equipmentlist">
    <li *ngFor="let character of gang.heroes">
        <span class = "charname"> <img class = "factionicon" src = "{{character.factionIcon}}" height = "20" width = "20"> {{character.name}}:</span><span class =  "costlabel"> Cost: {{character.ducats}}
      <button class="delete" title="Delete Character"
      (click)="delete(character)"><img class = "deletechar" src = "../../assets/images/buttons/Close Window.png"> </button></span> 
    </li>
  </ul>

  <div class = "classheader">Henchmen:</div>
  <ul class = "equipmentlist">
    <li *ngFor="let character of gang.henchmen">
        <span class = "charname">  <img class = "factionicon" src = "{{character.factionIcon}}" height = "20" width = "20"> {{character.name}}:</span><span class = "costlabel"> Cost: {{character.ducats}}
        <button class="delete" title="Delete Character"
        (click)="delete(character)"><img class = "deletechar" src = "../../assets/images/buttons/Close Window.png"> </button></span> 
    </li>
  </ul>


  <ul class = "equipmentlist">
    <li *ngFor="let item of gang.equipment">
      <span class = text>Item: {{item.equipment}}: Cost: {{item.equipmentCost}}:
      <button class="delete" title="Delete Character"
      (click)="deleteequipment(item)"><img class = "deletechar" src = "../../assets/images/buttons/Close Window.png"></button></span>
    </li>
  </ul>

    <p>Gang Status</p>
    <div class = "legalface">
    <img src = "{{gang.face}}" height = "50" width = "50">
  </div>
  <ul class = "errorlist">
    <li *ngFor="let error of gang.errorreason">
      <span class = text>{{error.error}} </span>
    </li>
  </ul>

  <div class = "costtext">Gang Cost: {{gang.actualDucats}} ducats.</div>
  <p></p>

  <div class = "buttonarea">

  <button class = "print" title="Print PDF"
  (click)="printgang()"><img class = "printimage" src="../../assets/images/buttons/Download.png" ></button>

  <button class = "reset" title ="Reset Gang"
  (click) ="resetgang()"><img class = "resetimage" src="../../assets/images/buttons/Restart.png"></button>

  <button class = "changemainfaction" title = "Change Main Faction"
  (click) ="ChangeMainFaction()"><img class = "changemainfactionimage" src="../../assets/images/buttons/Back to Start.png"></button>

</div>

  



  

