<!--This is the Print out of the Gang. This is just a repeated layout for each character
and item-->

<h1 mat-dialog-title>Gang Summary</h1>
<button class = "printPDF" title="Print Gang PDF"
      (click)="printPDF()">Download Full Colour PDF</button>

      <button class = "printPDF" title="Print Gang PDF"
      (click)="printHTML()">Download plain HTML</button>
      
      <mat-dialog-content>
   <div id = "container" #content>
     <p>  -  </p>
     <p>  -  </p>
     <div class = "listheader"><p>Faction: {{data.gang.faction}}</p></div>
     <div class = "listheader"><img class = "commandimg" src="{{data.gang.command}}"></div>
     <div class = "listheader"><p>CHARACTERS:</p></div>
      <ul class = characterlist>
        <div class = "listheader"><p>Leaders</p></div>
         <li *ngFor="let character of data.gang.leaders">
            <p>-----------------------------------------------------------------------------------------------------------------------------</p>
            <div class = "wrapper">
              <div>
                  <div class = "column1">                    
                     <div class  = "charimagespace"><img class = "charimage" src = "{{character.imageUrl}}" >
                      <div class ="costsection">{{character.ducats}}</div>
                    </div>
                     <div>
                        
                     </div>
                     <div>
                        <div class = "keywordsection">
                           <ul class ="keywords">
                              <li *ngFor="let keyword of character.keywords">
                                 <span class  = text>{{keyword.keyword}}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class = "specrulescontainer">
                        <div class ="tableheader">
                           General Rules: 
                           <ul class ="specialrules">
                              <li *ngFor="let specialrule of character.specialrules">
                                  <div *ngIf="specialrule.amount >=-9">
                                  <span class = text>{{specialrule.rule}}({{specialrule.amount}}),&nbsp; </span>
                               </div>
                                  <div *ngIf="specialrule.amount == -10">
                                       <span class = text>{{specialrule.rule}},&nbsp; </span>
                                  </div> 
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                </div> 
               <div>
                  <div class = "column2">
                      
                     <div>
                        <div class = "statsattsweaponscontainer">
                           <div>
                              <div class = "statsattribcontainer">
                                 <div>
                                    <div class ="statstable">
                                       <div>
                                          <div class = "tableheader">  MOV </div>
                                       </div>
                                       <div>
                                          <div class = "tableheader">  DEX </div>
                                       </div>
                                       <div>
                                          <div class = "tableheader">  ATT </div>
                                       </div>
                                       <div>
                                          <div class = "tableheader">  PRO </div>
                                       </div>
                                       <div>
                                          <div class = "tableheader">  MIND </div>
                                       </div>
                                       <div>{{character.movement}}</div>
                                       <div>{{character.dexterity}}</div>
                                       <div>{{character.attack}}</div>
                                       <div>{{character.protection}}</div>
                                       <div>{{character.mind}}</div>
                                    </div>

                                    <div class = "baseandcostwrapper">
                                        <div>
                                           <div class ="basesection"><img class = "baseimage" src = "../../assets/images/SizeGrey.png">
                                             <div class = "text">{{character.baseSize}}</div>
                                           </div>
                                        </div>
                                        <div>
                                           
                                        </div>
                                     </div>
                                 </div>
                                 <div><div class = "attributestable">
                                  <div> <img class = "attimg" src = "../../assets/images/ActionPoints .png">
                                    <div class = "actionatt">{{character.actionpoints}}</div>
                                    <div class = "text">Action</div>
                                  </div>
                                  <div> <img class = "attimg" src = "../../assets/images/LifePoints.png">
                                    <div class = "lifeatt">{{character.lifepoints}}</div>
                                  <div class = "text">Life</div></div>
                                  
                                  <div><img class = "attimg" src = "../../assets/images/WillPoints.png">
                                    <div class = "willatt">{{character.willpoints}}</div>
                                  <div class = "text">Will</div></div>
                                  
                                  <div> <img class = "attimg" src = "../../assets/images/CommandPoints.png">
                                    <div class = "commandatt">{{character.commandpoints}}</div>
                                  <div class  = "text">Command</div></div>
                                  
                              </div> </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class = "weaponstable">
                        <div>
                           <div class ="weaponstableheader"> Weapon</div>
                        </div>
                        <div>
                           <div class ="weaponstableheader"> RNG</div>
                        </div>
                        <div>
                           <div class ="weaponstableheader"> EVD</div>
                        </div>
                        <div>
                           <div class ="weaponstableheader"> DMG</div>
                        </div>
                        <div>
                           <div class ="weaponstableheader"> PEN</div>
                        </div>
                        <div>
                           <div class ="weaponstableheader"> Abilities</div>
                        </div>
                        <div>
                           <ul class = "weaponnames">
                              <li *ngFor="let weapon of character.weapons">
                                 <span class = text>   {{weapon.weapon}}</span>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponranges">
                              <li *ngFor="let weapon of character.weapons">
                                 <span class = text>  {{weapon.weaponRange}}</span>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponevade">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.evasion != 0">
                                          <span class = text>{{weapon.evasion}}</span>
                                      </div>
                                      <div *ngIf = "weapon.evasion == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weapondamage">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.damage != 0">
                                          <span class = text>{{weapon.damage}}</span>
                                      </div>
                                      <div *ngIf = "weapon.damage == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponpenetration">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.penetration != 0">
                                          <span class = text>{{weapon.penetration}}</span>
                                      </div>
                                      <div *ngIf = "weapon.penetration == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponabilities">
                              <ul *ngFor="let weapon of character.weapons">
                                 <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                    <span class = text>{{weaponAbility.weaponAbility}},</span>
                                 </li>
                              </ul>
                           </ul>
                        </div>
                     </div>
                     <div>
                        <div class = "rulescontainer">
                           
                           <div>
                              Character Rules:
                              <ul class = "uniquerules">
                                 <li *ngFor="let uniquerule of character.uniqueRules">
                                    <span class = text>{{uniquerule.uniqueRuleText}}</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div>
                        
                     </div>
                  </div>
               </div>
            </div>
             
         </li>
      </ul>
      <ul class = characterlist>
           <p>-----------------------------------------------------------------------------------------------------------------------------</p>
          <div class = "listheader"><p>Heroes</p></div>
           
        <li *ngFor="let character of data.gang.heroes">
           <p>-----------------------------------------------------------------------------------------------------------------------------</p>
           <div class = "wrapper">
             <div>
                 <div class = "column1">                    
                    <div class  = "charimagespace"><img class = "charimage" src = "{{character.imageUrl}}" >
                     <div class ="costsection">{{character.ducats}}</div>
                   </div>
                    <div>
                       
                    </div>
                    <div>
                       <div class = "keywordsection">
                          <ul class ="keywords">
                             <li *ngFor="let keyword of character.keywords">
                                <span class  = text>{{keyword.keyword}}</span>
                             </li>
                          </ul>
                       </div>
                    </div>
                    <div class = "specrulescontainer">
                       <div class ="tableheader">
                          General Rules: 
                          <ul class ="specialrules">
                              <li *ngFor="let specialrule of character.specialrules">
                                  <div *ngIf="specialrule.amount >=-9">
                                  <span class = text>{{specialrule.rule}}({{specialrule.amount}}),&nbsp; </span>
                               </div>
                                  <div *ngIf="specialrule.amount == -10">
                                       <span class = text>{{specialrule.rule}},&nbsp; </span>
                                  </div> 
                              </li>
                          </ul>
                       </div>
                    </div>
                 </div>
               </div> 
              <div>
                 <div class = "column2">
                     
                    <div>
                       <div class = "statsattsweaponscontainer">
                          <div>
                             <div class = "statsattribcontainer">
                                <div>
                                   <div class ="statstable">
                                      <div>
                                         <div class = "tableheader">  MOV </div>
                                      </div>
                                      <div>
                                         <div class = "tableheader">  DEX </div>
                                      </div>
                                      <div>
                                         <div class = "tableheader">  ATT </div>
                                      </div>
                                      <div>
                                         <div class = "tableheader">  PRO </div>
                                      </div>
                                      <div>
                                         <div class = "tableheader">  MIND </div>
                                      </div>
                                      <div>{{character.movement}}</div>
                                      <div>{{character.dexterity}}</div>
                                      <div>{{character.attack}}</div>
                                      <div>{{character.protection}}</div>
                                      <div>{{character.mind}}</div>
                                   </div>

                                   <div class = "baseandcostwrapper">
                                       <div>
                                          <div class ="basesection"><img class = "baseimage" src = "../../assets/images/SizeGrey.png">
                                            <div class = "text">{{character.baseSize}}</div>
                                          </div>
                                       </div>
                                       <div>
                                          
                                       </div>
                                    </div>
                                </div>
                                <div><div class = "attributestable">
                                 <div> <img class = "attimg" src = "../../assets/images/ActionPoints .png">
                                   <div class = "actionatt">{{character.actionpoints}}</div>
                                   <div class = "text">Action</div>
                                 </div>
                                 <div> <img class = "attimg" src = "../../assets/images/LifePoints.png">
                                   <div class = "lifeatt">{{character.lifepoints}}</div>
                                 <div class = "text">Life</div></div>
                                 
                                 <div><img class = "attimg" src = "../../assets/images/WillPoints.png">
                                   <div class = "willatt">{{character.willpoints}}</div>
                                 <div class = "text">Will</div></div>
                                 
                                 <div> <img class = "attimg" src = "../../assets/images/CommandPoints.png">
                                   <div class = "commandatt">{{character.commandpoints}}</div>
                                 <div class  = "text">Command</div></div>
                                 
                             </div> </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class = "weaponstable">
                       <div>
                          <div class ="weaponstableheader"> Weapon</div>
                       </div>
                       <div>
                          <div class ="weaponstableheader"> RNG</div>
                       </div>
                       <div>
                          <div class ="weaponstableheader"> EVD</div>
                       </div>
                       <div>
                          <div class ="weaponstableheader"> DMG</div>
                       </div>
                       <div>
                          <div class ="weaponstableheader"> PEN</div>
                       </div>
                       <div>
                          <div class ="weaponstableheader"> Abilities</div>
                       </div>
                       <div>
                          <ul class = "weaponnames">
                             <li *ngFor="let weapon of character.weapons">
                                <span class = text>   {{weapon.weapon}}</span>
                             </li>
                          </ul>
                       </div>
                       <div>
                          <ul class = "weaponranges">
                             <li *ngFor="let weapon of character.weapons">
                                <span class = text>  {{weapon.weaponRange}}</span>
                             </li>
                          </ul>
                       </div>
                       <div>
                           <ul class = "weaponevade">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.evasion != 0">
                                          <span class = text>{{weapon.evasion}}</span>
                                      </div>
                                      <div *ngIf = "weapon.evasion == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weapondamage">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.damage != 0">
                                          <span class = text>{{weapon.damage}}</span>
                                      </div>
                                      <div *ngIf = "weapon.damage == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponpenetration">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.penetration != 0">
                                          <span class = text>{{weapon.penetration}}</span>
                                      </div>
                                      <div *ngIf = "weapon.penetration == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                       <div>
                          <ul class = "weaponabilities">
                             <ul *ngFor="let weapon of character.weapons">
                                <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                   <span class = text>{{weaponAbility.weaponAbility}},</span>
                                </li>
                             </ul>
                          </ul>
                       </div>
                    </div>
                    <div>
                       <div class = "rulescontainer">
                          
                          <div>
                             Character Rules:
                             <ul class = "uniquerules">
                                <li *ngFor="let uniquerule of character.uniqueRules">
                                   <span class = text>{{uniquerule.uniqueRuleText}}</span>
                                </li>
                             </ul>
                          </div>
                       </div>
                    </div>
                    <div>
                       
                    </div>
                 </div>
              </div>
           </div>
            
        </li>
     </ul>
     <ul class = characterlist>
         <p>-----------------------------------------------------------------------------------------------------------------------------</p>
        <div class = "listheader"><p>Henchmen</p></div>
      <li *ngFor="let character of data.gang.henchmen">
         <p>-----------------------------------------------------------------------------------------------------------------------------</p>
         <div class = "wrapper">
           <div>
               <div class = "column1">                    
                  <div class  = "charimagespace"><img class = "charimage" src = "{{character.imageUrl}}" >
                   <div class ="costsection">{{character.ducats}}</div>
                 </div>
                  <div>
                     
                  </div>
                  <div>
                     <div class = "keywordsection">
                        <ul class ="keywords">
                           <li *ngFor="let keyword of character.keywords">
                              <span class  = text>{{keyword.keyword}}</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class = "specrulescontainer">
                     <div class ="tableheader">
                        General Rules: 
                        <ul class ="specialrules">
                            <li *ngFor="let specialrule of character.specialrules">
                                <div *ngIf="specialrule.amount >=-9">
                                <span class = text>{{specialrule.rule}}({{specialrule.amount}}),&nbsp; </span>
                             </div>
                                <div *ngIf="specialrule.amount == -10">
                                     <span class = text>{{specialrule.rule}},&nbsp; </span>
                                </div> 
                            </li>
                        </ul>
                     </div>
                  </div>
               </div>
             </div> 
            <div>
               <div class = "column2">
                   
                  <div>
                     <div class = "statsattsweaponscontainer">
                        <div>
                           <div class = "statsattribcontainer">
                              <div>
                                 <div class ="statstable">
                                    <div>
                                       <div class = "tableheader">  MOV </div>
                                    </div>
                                    <div>
                                       <div class = "tableheader">  DEX </div>
                                    </div>
                                    <div>
                                       <div class = "tableheader">  ATT </div>
                                    </div>
                                    <div>
                                       <div class = "tableheader">  PRO </div>
                                    </div>
                                    <div>
                                       <div class = "tableheader">  MIND </div>
                                    </div>
                                    <div>{{character.movement}}</div>
                                    <div>{{character.dexterity}}</div>
                                    <div>{{character.attack}}</div>
                                    <div>{{character.protection}}</div>
                                    <div>{{character.mind}}</div>
                                 </div>

                                 <div class = "baseandcostwrapper">
                                     <div>
                                        <div class ="basesection"><img class = "baseimage" src = "../../assets/images/SizeGrey.png">
                                          <div class = "text">{{character.baseSize}}</div>
                                        </div>
                                     </div>
                                     <div>
                                        
                                     </div>
                                  </div>
                              </div>
                              <div><div class = "attributestable">
                               <div> <img class = "attimg" src = "../../assets/images/ActionPoints .png">
                                 <div class = "actionatt">{{character.actionpoints}}</div>
                                 <div class = "text">Action</div>
                               </div>
                               <div> <img class = "attimg" src = "../../assets/images/LifePoints.png">
                                 <div class = "lifeatt">{{character.lifepoints}}</div>
                               <div class = "text">Life</div></div>
                               
                               <div><img class = "attimg" src = "../../assets/images/WillPoints.png">
                                 <div class = "willatt">{{character.willpoints}}</div>
                               <div class = "text">Will</div></div>
                               
                               <div> <img class = "attimg" src = "../../assets/images/CommandPoints.png">
                                 <div class = "commandatt">{{character.commandpoints}}</div>
                               <div class  = "text">Command</div></div>
                               
                           </div> </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class = "weaponstable">
                     <div>
                        <div class ="weaponstableheader"> Weapon</div>
                     </div>
                     <div>
                        <div class ="weaponstableheader"> RNG</div>
                     </div>
                     <div>
                        <div class ="weaponstableheader"> EVD</div>
                     </div>
                     <div>
                        <div class ="weaponstableheader"> DMG</div>
                     </div>
                     <div>
                        <div class ="weaponstableheader"> PEN</div>
                     </div>
                     <div>
                        <div class ="weaponstableheader"> Abilities</div>
                     </div>
                     <div>
                        <ul class = "weaponnames">
                           <li *ngFor="let weapon of character.weapons">
                              <span class = text>   {{weapon.weapon}}</span>
                           </li>
                        </ul>
                     </div>
                     <div>
                        <ul class = "weaponranges">
                           <li *ngFor="let weapon of character.weapons">
                              <span class = text>  {{weapon.weaponRange}}</span>
                           </li>
                        </ul>
                     </div>
                     <div>
                           <ul class = "weaponevade">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.evasion != 0">
                                          <span class = text>{{weapon.evasion}}</span>
                                      </div>
                                      <div *ngIf = "weapon.evasion == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weapondamage">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.damage != 0">
                                          <span class = text>{{weapon.damage}}</span>
                                      </div>
                                      <div *ngIf = "weapon.damage == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                        <div>
                           <ul class = "weaponpenetration">
                              <li *ngFor="let weapon of character.weapons">
                                    <div *ngIf = "weapon.penetration != 0">
                                          <span class = text>{{weapon.penetration}}</span>
                                      </div>
                                      <div *ngIf = "weapon.penetration == 0">
                                          <span class = text>-</span>
                                      </div>
                              </li>
                           </ul>
                        </div>
                     <div>
                        <ul class = "weaponabilities">
                           <ul *ngFor="let weapon of character.weapons">
                              <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                 <span class = text>{{weaponAbility.weaponAbility}},</span>
                              </li>
                           </ul>
                        </ul>
                     </div>
                  </div>
                  <div>
                     <div class = "rulescontainer">
                        
                        <div>
                           Character Rules:
                           <ul class = "uniquerules">
                              <li *ngFor="let uniquerule of character.uniqueRules">
                                 <span class = text>{{uniquerule.uniqueRuleText}}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div>
                     
                  </div>
               </div>
            </div>
         </div>
          
      </li>
   </ul>
   <p>-----------------------------------------------------------------------------------------------------------------------------</p>
      <div class = "listheader"><p>EQUIPMENT:</p></div>
      <ul class = "equiptmentlist">
        <li *ngFor="let equipment of data.gang.equipment">
          <p>{{equipment.equipment}}</p>
          <div class = "equipmentwrapper">      
              <div class = "equipmentcolumn1">
                <div><img src = "{{equipment.icon}}" height = "100" width = "100"></div>
                <div class  = "equipmentcost">
                    Cost: {{equipment.equipmentCost}} ducats
                  </div>
              </div>
            
            <div class = "equipmentcolumn2">                
      
              <div class = "equipmentrules">
                {{equipment.equipmentText}}
              </div>
      
              
      
            </div>
      
            </div>
               
        </li>
      </ul>
      <div class = "listheader"><p>Total Ducats: {{data.gang.actualDucats}}</p></div>
   </div>
<!--This is the code for the HTML style print out with limited Style settings.-->
<div class = "htmlprintout">
   <div id = "print" #content>
     
     <div ><p>Faction: {{data.gang.faction}}</p></div>
     <div ><img src="{{data.gang.command}}" width = "750"></div>
     <div ><p>CHARACTERS:</p></div>
     <ul >
        <div ><h1>Leaders</h1></div>
         <li *ngFor="let character of data.gang.leaders">
            <p>-----------------------------------------------------------------------------------------------------------------------------</p>             
                                    
                     <div><h2>{{character.name}}</h2>
                      <div >{{character.ducats}} points || Base: {{character.baseSize}} mm</div>
                        
                        <div> 
                            <div >||Action: {{character.actionpoints}} || Life: {{character.lifepoints}} || Will: {{character.willpoints}} || Command: {{character.commandpoints}} ||</div>
                                     
                           </div> 
                           
                      <div>|| MOV: {{character.movement}} || DEX: {{character.dexterity}} || ATT: {{character.attack}} || PRO: {{character.protection}} || MIND: {{character.mind}} ||</div>
                        
                      <div>
                        <b>Weapons:</b>
                          <ul >
                             <li *ngFor="let weapon of character.weapons">
                                <span >{{weapon.weapon}} Range: {{weapon.weaponRange}} Evasion: {{weapon.evasion}} Damage:  {{weapon.damage}} Penetration: {{weapon.penetration}} 
                                 <ul> 
                                 <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                    <span>{{weaponAbility.weaponAbility}}</span>
                                  </li>
                                 </ul>
                               </span>
                             </li>
                          </ul>
                       </div>
                       <div >
                          <b>General Rules:</b> 
                          <ul >
                             <li *ngFor="let specialrule of character.specialrules">
                                 <div *ngIf="specialrule.amount >=-9">
                                 <span >{{specialrule.rule}}({{specialrule.amount}})&nbsp; </span>
                              </div>
                                 <div *ngIf="specialrule.amount == -10">
                                      <span>{{specialrule.rule}}&nbsp; </span>
                                 </div> 
                             </li>
                          </ul>
                       </div>  
                       <div>
                         <b> Character Rules:</b>
                          <ul >
                             <li *ngFor="let uniquerule of character.uniqueRules">
                                <span >{{uniquerule.uniqueRuleText}}</span>
                             </li>
                          </ul>
                       </div>           
                    </div>  <b>Keywords:</b>                          
                           <ul >
                            
                              <li *ngFor="let keyword of character.keywords">                                
                                 {{keyword.keyword}}
                              </li>
                           </ul>      
         </li>
      </ul>

      <ul >
          <div ><h1>Heroes</h1></div>
           <li *ngFor="let character of data.gang.heroes">
              <p>-----------------------------------------------------------------------------------------------------------------------------</p>             
                                      
                       <div><h2>{{character.name}}</h2>
                        <div >{{character.ducats}} points ||  Base: {{character.baseSize}} mm</div>
                          
                          <div> 
                              <div >||Action: {{character.actionpoints}} || Life: {{character.lifepoints}} || Will: {{character.willpoints}} || Command: {{character.commandpoints}} ||</div>
                                       
                             </div> 
                             
                        <div>|| MOV: {{character.movement}} || DEX: {{character.dexterity}} || ATT: {{character.attack}} || PRO: {{character.protection}} || MIND: {{character.mind}} || </div>
                          
                        <div>
                          <b>Weapons:</b>
                            <ul >
                               <li *ngFor="let weapon of character.weapons">
                                  <span >{{weapon.weapon}} Range: {{weapon.weaponRange}} Evasion: {{weapon.evasion}} Damage:  {{weapon.damage}} Penetration: {{weapon.penetration}} 
                                   <ul> 
                                   <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                      <span>{{weaponAbility.weaponAbility}}</span>
                                    </li>
                                   </ul>
                                 </span>
                               </li>
                            </ul>
                         </div>
                         <div >
                            <b>General Rules:</b> 
                            <ul >
                               <li *ngFor="let specialrule of character.specialrules">
                                   <div *ngIf="specialrule.amount >=-9">
                                   <span >{{specialrule.rule}}({{specialrule.amount}})&nbsp; </span>
                                </div>
                                   <div *ngIf="specialrule.amount == -10">
                                        <span>{{specialrule.rule}}&nbsp; </span>
                                   </div> 
                               </li>
                            </ul>
                         </div>  
                         <div>
                           <b> Character Rules:</b>
                            <ul >
                               <li *ngFor="let uniquerule of character.uniqueRules">
                                  <span >{{uniquerule.uniqueRuleText}}</span>
                               </li>
                            </ul>
                         </div>           
                      </div>  <b>Keywords:</b>                          
                             <ul >
                              
                                <li *ngFor="let keyword of character.keywords">                                
                                   {{keyword.keyword}}
                                </li>
                             </ul>      
           </li>
        </ul>

        <ul >
            <div ><h1>Henchmen</h1></div>
             <li *ngFor="let character of data.gang.henchmen">
                <p>-----------------------------------------------------------------------------------------------------------------------------</p>             
                                        
                         <div><h2>{{character.name}}</h2>
                          <div >{{character.ducats}} points ||  Base: {{character.baseSize}} mm</div>
                            
                            <div> 
                                <div > ||Action: {{character.actionpoints}} || Life: {{character.lifepoints}} ||  Will: {{character.willpoints}} ||  Command: {{character.commandpoints}} ||</div>
                                         
                               </div> 
                               <br>
                          <div>|| MOV: {{character.movement}} || DEX: {{character.dexterity}} || ATT: {{character.attack}} || PRO: {{character.protection}} || MIND: {{character.mind}} ||</div>
                            
                          <div>
                            <b>Weapons:</b>
                              <ul >
                                 <li *ngFor="let weapon of character.weapons">
                                    <span >{{weapon.weapon}} Range: {{weapon.weaponRange}} Evasion: {{weapon.evasion}} Damage:  {{weapon.damage}} Penetration: {{weapon.penetration}} 
                                     <ul> 
                                     <li *ngFor="let weaponAbility of weapon.weaponAbilities">
                                        <span>{{weaponAbility.weaponAbility}}</span>
                                      </li>
                                     </ul>
                                   </span>
                                 </li>
                              </ul>
                           </div>
                           <div >
                              <b>General Rules:</b> 
                              <ul >
                                 <li *ngFor="let specialrule of character.specialrules">
                                     <div *ngIf="specialrule.amount >=-9">
                                     <span >{{specialrule.rule}}({{specialrule.amount}})&nbsp; </span>
                                  </div>
                                     <div *ngIf="specialrule.amount == -10">
                                          <span>{{specialrule.rule}}&nbsp; </span>
                                     </div> 
                                 </li>
                              </ul>
                           </div>  
                           <div>
                             <b> Character Rules:</b>
                              <ul >
                                 <li *ngFor="let uniquerule of character.uniqueRules">
                                    <span >{{uniquerule.uniqueRuleText}}</span>
                                 </li>
                              </ul>
                           </div>           
                        </div>  <b>Keywords:</b>                          
                               <ul >
                                
                                  <li *ngFor="let keyword of character.keywords">                                
                                     {{keyword.keyword}}
                                  </li>
                               </ul>      
             </li>
          </ul>

          <ul >
              <div ><p>Equipment</p></div>
               <li *ngFor="let item of data.gang.equipment">
                  <p>-----------------------------------------------------------------------------------------------------------------------------</p>             
                                          
                           <div><h1>{{item.equipment}}</h1>

                            <div>      
                                <div>
                                  
                                  <div >
                                      Cost: {{item.equipmentCost}} ducats
                                    </div>
                                </div>
                              
                              <div >                
                        
                                <div >
                                  {{item.equipmentText}}
                                </div>
                        
                                
                        
                              </div>
                        
                          </div> 
                          </div>     
               </li>
            </ul>





   </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
   <button mat-button [mat-dialog-close]="true">Close</button>
   
        
</mat-dialog-actions>


