.wrapper {
    
    width: 900px;
    float:left;
    background-color: rgb(255, 244, 244); 
    border-block-end-color: #9a191a;
    border-style: double;  
    /*background-image: radial-gradient(white 1%, rgb(247, 225, 225)90%, #9a191a );*/
  }

  .imagerulescolumn{
    float: left;
    width:33%;
  }
  
  .statsweaponscolumn{
      float: left;
      width: 66%;
  }

  .row:after{
      content: "";
      display: table;
      clear: both;
  }

  .charimage{
      width: 250px;
  }

  .charimage .costsection {
    position: relative;
    top: -65px;
    left: 190px;
    width: 10px;
    font-size: xx-large;
    color: aliceblue;    
}

.keywordsection {
    font-style: italic;
    width:70%;
}

.keywords{
    list-style-type: none;
    
    padding: 0;
}

.keywords .text {
    color: black;
    font-size: small;
}



.basesection {
    color: #9a191a;
    width:40px;
    height:40px;
    position: relative;
    left: 350px;
    top: -50px;
    }
    
    .basesection .text{
        position: relative;
        top: -35px;
        right: -10px;
        font-size: large
    }
    
    .baseimage{
        height: 40px;
        width: 40px;
    }

    .statstable {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        grid-template-rows: 50% 50%;
        float: left;
        grid-column-gap: 2px;
        text-align: center;
        border:10px #9a191a;
        border-style: double;
        font-size: large;
    }

    .tableheader {
        color: white;
        background-color: #9a191a;
        border-bottom-style: solid;
        border-width: 1px;
        padding: 1px;
        font-family: buckingham;
    }

    .attributestable {
        display: grid;
        grid-template-columns: 90px 90px 90px 90px;
        float: left;
        grid-column-gap: 2px;
        text-align: center;
        color: black;    
        border: 10px;
        border-color: #9a191a;
        border-style: double;
        font-size: large;
        
    }
    
    .attimg{
        height: 50px;
        width: 50px;
    }
    
    .attributestable .text{
        color: #9a191a;
        font-family: buckingham;
        position: relative;
        top: -25px;
        
    }
    
    .actionatt {
        position: relative;
        top: -40px;
        font-size: larger;
    }
    
    .lifeatt {
        position: relative;
        top: -40px;
        font-size: larger;
        }
    .willatt {
        position: relative;
        top: -40px;
        font-size: larger;
        
    }
    
    .commandatt {
        position: relative;
        top: -40px;
        font-size: larger;
    }

    .specialrules{
        list-style-type: none;
        padding: 5px;
        
    }
    
    .rulesheader{
        color: white;
        border: 10px #9a191a;
        border-style: double;
        float: left;
        background-color: #9a191a;
        font-family: buckingham;
        width:90%;
    }
    
    .specialrules .text {
        color: white;
        font-size: small;
        
    }
    
    .specialrules li {
        display: inline-block;
    }

    .uniquerules{
        list-style-type: none;
        padding: 0;
        border: 10px #9a191a;
        border-style: double;
        padding: 5px; 
        float: left;       
    }
    
    .whiteheader{
        color: #9a191a;
        font-family: buckingham;
    }
    
    .uniquerules .text {
        color: #9a191a;
        font-size: small;
    }

    .weaponstable {
        display: grid;
        grid-template-columns: 148px 48px 48px 48px 48px 280px;
        grid-template-rows: 20px auto;
        float: right;
        grid-column-gap: 2px;
        border: 2px solid #9a191a;
        box-sizing: border-box;
    }
    
    .weaponstable > div {
        border: 2px solid #9a191a;
        box-sizing: border-box;
        
        
    }
    
    .weaponnames{
        list-style-type: none;
        padding: 0; 
        text-align: center;   
    }
    
    .weaponnames .text{
        color: #9a191a;
        font-size: small; 
        text-align: center;   
    }
    
    .weaponranges{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponranges .text{
        color: #9a191a;
        font-size: small;
        text-align: center;
    }
    
    .weaponevade{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponevade .text{
        color: #9a191a;
        font-size: small;
        text-align: center;
    }
    
    .weapondamage{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weapondamage .text{
        color: #9a191a;
        font-size: small;
        text-align: center;
    }
    
    .weaponpenetration{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponpenetration .text{
        color: #9a191a;
        font-size: small;
        text-align: center;
    }
    
    .weaponabilities{
        list-style-type: none;
        padding: 0;
        text-align: left;
    }
    
    .weaponabilities li{
        display: inline-block;
    }
    
    .weaponabilities .text{
        color: #9a191a;
        font-size: small;
        float: left;
        text-align: left;
    }

    .mobilebasesection{
        display: none;
    }
    button{
        color: #9a191a;
        background-color: darkgrey;
        border: #9a191a;
        border-style: groove;
        padding: 10px;
        font-size: medium;    
    }
    
    button:hover{
        background-color: black
    }
    
    button:active{
        background-color: aliceblue;
    }

    @media screen and (max-width:800px){
        .wrapper {
    
            width: 100%;
            float:left;
            background-color: rgb(255, 244, 244); 
            border-block-end-color: #9a191a;
            border-style: double;  
            /*background-image: radial-gradient(white 1%, rgb(247, 225, 225)90%, #9a191a );*/
          }

          .imagerulescolumn{
            float: left;
            width:100%;
          }
          
          .statsweaponscolumn{
              float: left;
              width: 100%;
          }
        
          .row:after{
              content: "";
              display: table;
              clear: both;
          }

          .charimage{
            width: 150px;
        }
      
        .charimage .costsection {
          position: relative;
          top: -45px;
          left: 105px;
          width: 10px;
          font-size: xx-large;
          color: aliceblue;    
      }

      .statstable {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        float: left;
        grid-column-gap: 2px;
        text-align: center;
        border:10px #9a191a;
        border-style: double;
        font-size: large;
        padding:10px;
        padding-right:15px;
    }

    .tableheader {
        color: white;
        background-color: #9a191a;
        border-bottom-style: solid;
        border-width: 1px;
        padding: 1px;
        font-family: buckingham;
        font-size: small;
    }

    .attributestable {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        float: left;
        grid-column-gap: 2px;
        text-align: center;
        color: black;    
        border: 10px;
        border-color: #9a191a;
        border-style: double;
        font-size: large;
        
    }
    
    .attimg{
        height: 40px;
        width: 40px;
        
    }
    
    .attributestable .text{
        display:none;
        
    }
    
    .actionatt {
        position: relative;
        top: -40px;
        font-size: larger;
    }
    
    .lifeatt {
        position: relative;
        top: -40px;
        font-size: larger;
        }
    .willatt {
        position: relative;
        top: -40px;
        font-size: larger;
        
    }
    
    .commandatt {
        position: relative;
        top: -40px;
        font-size: larger;
    }

    .uniquerules .text {
        color: #9a191a;
        font-size: x-small;
    }

    .weaponstable {
        display: grid;
        grid-template-columns: 20% 7% 7% 7% 7% 52%;
        grid-template-rows: 20px auto;
        float: right;
        grid-column-gap: 2px;
        border: 2px solid #9a191a;
        box-sizing: border-box;
    }

    .weaponstable .tableheader{
        font-size: xx-small;
    }
    
    .weaponstable > div {
        border: 2px solid #9a191a;
        box-sizing: border-box;
        
        
    }
    
    .weaponnames{
        list-style-type: none;
        padding: 0; 
        text-align: center;   
    }
    
    .weaponnames .text{
        color: #9a191a;
        font-size: 4pt; 
        text-align: center;   
    }
    
    .weaponranges{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponranges .text{
        color: #9a191a;
        font-size: 6pt;
        text-align: center;
    }
    
    .weaponevade{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponevade .text{
        color: #9a191a;
        font-size: 6pt;
        text-align: center;
    }
    
    .weapondamage{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weapondamage .text{
        color: #9a191a;
        font-size: 6pt;
        text-align: center;
    }
    
    .weaponpenetration{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .weaponpenetration .text{
        color: #9a191a;
        font-size: 6pt;
        text-align: center;
    }
    
    .weaponabilities{
        list-style-type: none;
        padding: 0;
        text-align: left;
    }
    
    .weaponabilities li{
        display: inline-block;
    }
    
    .weaponabilities .text{
        color: #9a191a;
        font-size: 4pt;
        float: left;
        text-align: left;
    }

    .specialrules{
        list-style-type: none;
        padding: 5px;
        
    }
    
    .rulesheader{
        color: white;
        border: 10px #9a191a;
        border-style: double;
        float: left;
        background-color: #9a191a;
        font-family: buckingham;
        width:90%;
    }
    
    .specialrules .text {
        color: white;
        font-size: xx-small;
        
    }
    
    .specialrules li {
        display: inline-block;
    }

    .basesection{
        display: none;
    }

    .mobilebasesection{
        display: block;
        color:#9a191a;
    }
    .mobilebasesection .text{
        position: relative;
        top: -35px;
        right: -10px;
        font-size: large;
        color:#9a191a;
        
    }
    
    .baseimage{
        height: 40px;
        width: 40px;
    }
    }
    









